.blackIcon {
  height: 20px;
  width: 20px;
  background: black;
  border: 1px solid rgb(131, 127, 127);
}

.whiteIcon {
  height: 20px;
  width: 20px;
  margin-left: 2px;
  background: white;
  border: 1px solid rgb(131, 127, 127);
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 20px;
}

#header {
  flex: initial;
}

#content {
  flex: 1;
  border: 1px solid black;
  display: flex;
  height: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 1.2em;
}

#header, #content {
  margin: 0 30px;
}

#header .title {
  font-size: 50px;
  text-align:center;
}

#header .title .subTitle {
  font-size: 20px;
}

#content #left, #content #right {
  flex: 1;
  padding: 25px;
  overflow: auto;
}

#content #right {
  border-left: 1px solid black;
}

span:hover {
  cursor: pointer;
  background-color: rgba(209, 200, 199, 0.24);
}

.highlight {
  background-color: rgba(221, 102, 98, 0.7);
  /* background-color: rgba(106, 173, 108, 0.8); */
}

.highlight:hover {
  background-color: rgba(221, 102, 98, 0.7);
}
