
input{size:10;}

body{letter-spacing:1px;
	padding-left: 25px;}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*.tofind{color:#BCBE00;}
#result_num{background-color: #D9DC00;}

body {font-size: 150%;
	color:#174F89;
	font-family: sans-serif;
	font-family: Microsoft JhengHei;
}



.mid{vertical-align:middle;}



head{background-color: #73B7FF;}

.result{color: #3799FF;}

a{color: #3799FF;}

.version{color: #3799FF;}*/
