.tofind{color:#BCBE00;}
#result_num{background-color: #D9DC00;}

body {font-size: 150%;
	color:#174F89;
	font-family: sans-serif;
	font-family: Microsoft JhengHei;
}

input {font-size: 100%;
		background-color: #3799FF;
		color: white;
		border: #3799FF;
		/*弧形角border-radius: 20;*/

}
button {font-size: 100%;
		background-color: #3799FF;
		color: white;
		border:none;
		/*弧形角border-radius: 20;*/
		
}
.mid{vertical-align:middle;}


input[type='radio'] {
   -webkit-appearance: underline;
   background-color: blue;

}
input[type='radio']:active
head{background-color: #73B7FF;}

.result{color: #3799FF;}

a{color: #3799FF;}

.version{color: #3799FF;}
